 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p>Currently studying Game Design and Development at London South Bank University, I have always been passionate about games and arts. I have knowledge in 3D modelling, 2D animation and concept art. In my spare time I like to practice traditional arts such as drawing and painting.</p>
                </div>
            </div>
        </div>
    </section>